# requirements.txt

# general dependencies
aiofiles
debugpy
fastapi
httpx
pydantic
pydantic-settings
pypdf
python-dotenv
python-multipart
uvicorn
watchdog

# data science
matplotlib
numpy
pandas
pillow
pydicom

# database
chromadb
lancedb
pgvector
psycopg
sqlalchemy

# web tools
ddgs
duckduckgo-search

# ai/ml frameworks
agno
ag-ui-protocol
anthropic
langchain
langchain-text-splitters
ollama
openai
sentence-transformers
tantivy
transformers
